{% capture full_name %}
  {{ site.first_name }}
  {% if site.middle_name and site.middle_name != "" %} {{ site.middle_name }}{% endif %}
  {% if site.last_name and site.last_name != "" %} {{ site.last_name }}{% endif %}
{% endcapture %}

{% capture footer_contents %}
  &copy; {{ site.time | date: '%Y' }} {{ full_name | strip }}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
